{#
/**
 * @file
 * Default theme implementation to display a greeting block.
 *
 * Available variables:
 * - message: The greeting message.
 *
 * @ingroup themeable
 */
#}
<div class="greeting-block">
  <div class="greeting-message">{{ message }}</div>
  <button class="greeting-button">Click me!</button>
</div> 