{#
/**
 * @file
 * Default theme implementation to display a greeting block.
 *
 * Available variables:
 * - message: The greeting message to display.
 *
 * @ingroup themeable
 */
#}
<div class="greeting-block">
  <div class="greeting-block__content">
    {{ message }}
  </div>
</div> 